
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "partials/index.scss";
@import "partials/variables.scss";
@import "partials/header-footer.scss";
@import "partials/suhistoria";
@import "partials/ciudades";
@import "partials/tours";
@import "partials/playasdetailandia";
@import "partials/comidatai";
@import "partials/bangkok";




@import "partials/mediaquery";




