.titulociudades{
    background-color: $celeste;
    color: black;
    font-size: 3rem;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0;
    padding: 20px;
    
} 
.div-ciudades{
      
    .cajasciudades{
            width: 400px;
            height: 300px;
            margin-left: 20px;
            margin-right: 20px;
        .imgciudades{
            position: relative;
            width: 96%;
            height: 90%;
            border-radius: 155px 155px 155px 155px;
-webkit-border-radius: 155px 155px 155px 155px;
-moz-border-radius: 155px 155px 155px 155px;
        margin-top: 30px;
        }
        button{
            position: absolute;
            width: 15%;
            margin-top: 9%;
            margin-left: 4.5%;
            z-index: 1;
            font-size: 1.7rem;
        }
    }
}