/*header*/
header{
    background-color:#FF884B;
    position: sticky;
    top: 0;
    align-items: end;
    z-index: 2;
    .titulosnav{
        display: flex;
        justify-content: flex-end;
    } 
    a{
        @include letras (white,1.7rem,justify);
        text-decoration: none;
        font-weight:500;
        margin: 9px 8px;
    
    }
    a:hover{
        color: darkgreen;

    }
    
}

/*inicio footer*/

footer{
    background-color:#FF884B;
    display: flex;
    justify-content:center;
    padding-top: 10px;
    padding-bottom: 10px;
    
    img{
    width: 80px;
    margin-right: 10px;
}
   
}