
/*banner*/

.banner{
    background-image: url(/imagenes/2023-08-11.png);
    background-size: cover;
    background-position:top;
    color: black;
    text-align: center;
    padding: 140px 200px;

    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.5rem;
        color: white;
        text-shadow: 0px 0px 11px rgba(0,0,0,0.81);

    }
      
        
    
    }

/*main de index*/

    .div-index{
        background-color:$amarillo;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom:40px ;
        padding-top: 40px;
        
        .cajas{

            @include position (relative,400px,350px);
           
            .buttonindex{
                @include position (absolute,40%,20%);
                top: 20%;
                left: 33%;
                z-index: 1;
            
             
                
            } 
            img {
                @include position (relative,80%,80%); 
                margin-left: 2rem;
                margin-right: 2rem;
                border-radius: 28px 28px 26px 26px;
            -webkit-border-radius: 28px 28px 26px 26px;
            -moz-border-radius: 28px 28px 26px 26px;
                top: 1rem;
                left: 1rem;
                right: 1rem;
                bottom: 1rem;
                
            
            
                
            }  
            
        }
        
       
    }