/*mobile*/
@media only screen and (max-width:500px){
        /*media query para banner*/
        .banner{
            padding: 40px 0px;
       
            h1{
                font-size: 3rem;
    
            }
            h2{
                font-size: 2rem;
            }
        }
   
    header nav div a{
        font-size: 1rem;
    }
        
        
    /*  media query su historia*/
    
        .suhistoriamain-grid{
            grid-template-areas: 
            
           
            "h1"
            "img1 "
            "p1"
            "p2"
            "p3   "
            "p4   "
            "img2 "
            "h2"
            "video1";
            grid-template-columns: 100%;
            grid-template-rows: 110px 300px 570px 370px 280px 400px 300px 170px 300px;

            .grid-video-1{
                grid-area: video1;
                width: 80%;
                height: 80%;
           
           
            
               
            }
             
    
        .aprendemas{
            font-size: 2.5rem;
        }
    
        
        
        
    
    }

    /*media query ciudades */ 
    .div-ciudades{
        .cajasciudades{
            button{
            width: 40%;
            margin-top: 28%;
            margin-left: 25%;
            }
        }
    }

    /*media query tours*/

    .sectiontour{
        flex-direction: column;
        justify-content: center;
    
    }

    .toursimg{
        margin-left: 15px;
    }
    .toursimg2{
        margin-left:15px;
    }

    .toursimg3{
        margin-left: 15px;
    }
    .toursimg4{
        margin-left: 15px;
    }

/*media query playas  (no me lo agarra)*/

.carouselplayas{
    .imgplayas{
        height: 400px;
}
}

.divplayas{
    h1{
        font-size: 1.5rem;

    }
}

/*media query comidatai*/

.cards{
    flex-direction: column;

    .tarjeta1{
        width: 75%;
        margin-bottom: 20px;
    }

    .tarjeta2{
        width: 75%;
        margin-bottom: 20px;
    }

    .tarjeta3{
       width:75%;
       margin-bottom: 20px ;
    }
    .tarjeta4{
        width:75%;
       margin-bottom: 20px;
    }


   
    
}




/*media query bangkok, chiang mai , chiang rai*/
.mapasyvideobangkok{
    flex-direction: column;
}

iframe{
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
}

}











    
    /*tablet*/
    @media only screen and (min-width:501px) and (max-width:960px){}


    /*desktop*/
    @media only screen and (min-width:960px){

    }
    
