.divplayas{
    background-color: $amarillo;
    padding-bottom: 1rem;
    padding-top: 1rem;
    h1{
        @include letras (white, 3rem, center)
        
    }
    p{
        @include letras (white, 1.3rem, center)
        
    }

 }

 .carouselplayas{
    background-color: $celeste;
    padding: 20px 20px 30px 30px;
   
    .imgplayas{
        margin-left: 0;
        margin-right: 0;
        width:100%;
        height: 600px;
        border-radius: 47px 47px 43px 45px;
-webkit-border-radius: 47px 47px 43px 45px;
-moz-border-radius: 47px 47px 43px 45px;
    }


        .carouselh2yp{
            font-size: 2rem;
            text-shadow: 0px 0px 15px rgba(0,0,0,0.81);
            text-align: center;
            
           
        }
        .phiphi{
            color: black;
            h2{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.7rem;
            }

        }
}