




.div-tours2{
    background-color: $amarillo;
    
    .div1{
        background-color: $celeste;
        h2{
            text-align: center;
            padding-top: 10px;
            color: $naranja;
          
        }
        .subtitulo2{
            color: black;
            text-align: center;
            font-size: 1.2rem;
         
       
            

        }   
        }
    
}


.sectiontour{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    h2{
        text-align: center;
        color: white;
    }
    
}



.titulo2tours{
        background-color: $celeste;
        color: $naranja;
        padding-left: 20px;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 0;
    }
.subtitulo2tours{
        background-color: $celeste;
        font-size: 1.2rem;
        text-align: center;
        color: black;
        padding-top: 20px;
        padding-bottom: 20px;
       
    }






.toursimg{
   width: 90%;
   height: 60%;
   border: 2px solid #E8FFC2;
   margin-left: 35px;
  
} 
.toursimg2{
    width: 90%;
    height: 70%;
    border: 2px solid #E8FFC2;
    margin-left: 35px;
    
   
 } 

 .toursimg3{
    width: 90%;
    height: 90%;
    border: 2px solid #E8FFC2;
    margin-left: 35px;
    
    
   
 } 
 .toursimg4{
    width: 90%;
    height: 90%;
    border: 2px solid #E8FFC2;
    margin-left: 35px;
    
   
 } 
 
   
  
