$naranja: #FF884B;
$amarillo:#FFD93D;
$celeste:#97FEED;
$salmon:#FFC6AC;
$verde:#68B984;
$font:'Bebas Neue', sans-serif;

//*{
   // overflow-x: hidden;}
body {
    font-family: "bebas neue";
    font-size: 62.5%; /*10px*/
  
}
@mixin letras ( $color, $size, $align){
    color:$color;
    font-size: $size;
    text-align: $align;
}

//@mixin nombre ($var1,$var2);{
    //propiedad:$var1;
    //propiedad:$var2;
//}
//ej: 
//@mixin boxmodel ($margen,$relleno){
    // margin: $margen;
    // padding: $relleno;}

    //.card{
        //@include boxmodel ( ,  )}

 